* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 25px;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h3{
    /*border-radius: 5px;*/
    text-align: center;
    padding: 10px;
    font-weight: normal;
}
.to-do-col h3{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.to-do-col > h3{
    background-color: #afc9f6;
}
.in-progress-col h3,
.testing-col h3{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.in-progress-col > h3{
    background-color: #ffbc40;
}
.testing-col > h3{
    background-color: #d4b0f4;
}
.done-col h3{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.done-col > h3{
    background-color: lightgreen;
}
ol li, ul > li {
    margin-left: 17px;
}
.kanban-board{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}
.to-do-col, .in-progress-col, .testing-col, .done-col{
    /*border: 1px solid #d8d8d8;*/
    width: 33%;
    min-height: 70vh;
    max-height: 100%;
}
/*.addNote{*/
/*    width: 400px;*/
/*    padding: 20px;*/
/*    border: 1px solid #d8d8d8;*/
/*}*/
.add-card input, textarea{
    width: 100%;
    padding: 5px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 10px;
}
textarea{
    resize: none;
    height: 70px;
    font-family: inherit;
}
.add-card label{
    display: block;
    margin-bottom: 5px;
}
.add-card p{
    margin-bottom: 5px;
}
.add-card button{
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    background-color: cornflowerblue;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}
.error{
    padding: 10px 0 10px 25px;
    margin: 5px 0 5px 0;
    background-color: cornflowerblue;
    color: white;
}
.deadline{
    font-style: italic;
}
.card{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 15px;
    /*margin: 0 5px 10px 5px;*/
}
.card h3{
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
}
.card-desc{
    margin-bottom: 15px;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1050;
    opacity: 0;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    margin: 10px;
}
@media (min-width: 400px) {
    .modal-dialog {
        max-width: 440px;
        margin: 80px auto;
    }
}

.modal-content {
    position: relative;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
}
@media (min-width: 768px) {
    .modal-content {
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        border-radius: 5px;
    }
}

.modal-header {
    float: right;
}
.close {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.btnModal {
    text-align: center;
    display: block;
    padding: 10px 15px;
    color: cornflowerblue;
    font-size: 18px;
}
.topBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.btnEdit{
    padding: 10px;
    background-color: #afc9f6;
    font-size: 16px;
    border: none;
}
.btnDel {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
}
.editForm {
    padding: 10px 0;
}
.btnMoveRight {
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    margin-top: 10px;
}